{% block moren %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    {% block ajax %}
    <script type="text/javascript">

      $(function(){
         $.ajax({
            url:"/avatar",
            type: "post",
            headers: {

            },

            data: JSON.stringify(),
            contentType: "application/json",
            success: function (resp) {
                    if(resp.mark=='1'){
                         $('#login').css('display','none')
                   $('#avatar').css('display','block')
                   $('#avatar span').html(resp.name)
                    $('#avatar img').attr('src',resp.avatar)
                    }


            }
        })

{#          $('#Search').submit(function (a) {#}
{#              a.preventDefault()#}
{#          })#}
      });


    </script>
    {% endblock %}
    {% block title %}<title>Fanlin</title> {% endblock %}
  </head>

  <body style="background-color: #f5f5f5">
    {% block header %}
     <header style="margin-top: 84px">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top  container-fluid" style="opacity: 0.98;background: #212529;">

          <a href="/" ><img src="../static/logo.png" href="http://127.0.0.1:5000/login" style="height: 68px;margin-right: 100px;margin-left: 180px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse col-lg-10" id="navbarCollapse">
          <ul class="navbar-nav  col-lg-4 " >
            <li class="nav-item  col-lg-4">
              <a class="nav-link " href="#" style="width: 60px">Find <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item col-lg-4">
              <a class="nav-link" href="#" style="width: 120px">My music</a>
            </li>
            <li class="nav-item col-lg-4">
              <a class="nav-link " href="#" style="width: 120px">Shopping cart</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0 col-lg-5" action="/search">
            <input class="form-control mr-sm-2 col-lg-9" type="text" placeholder="搜索音乐" aria-label="Search" name="songn">
            <button class="btn btn-outline-success my-2 my-sm-0 col-lg-2" type="submit" id="Search">Search</button>
          </form>
              <ul class="navbar-nav  col-lg-3 " >
                  <li class="nav-item col-lg-12">
                    <a class="nav-link" href="http://127.0.0.1:5000/login" style="width: 60px" id="login">Log in</a>
                    <a id="avatar" href="/personal" style="display: none" class="nav-link"><img src="" class="rounded-circle" style="height: 44px;max-width: 60px"><span style="margin-left: 20px"></span> </a>
                  </li>
              </ul>

        </div>
      </nav>
    </header>
    {% endblock %}
    {% block body %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>

  </body>
</html>
{% endblock %}