{% extends "base.html" %}
{% block body %}

    <div class="rounded" style="width: 100%;background: #202020;">

          <img src="../static/timg%20(2).jpg" class="img-rounded " style="margin-top: 10px;margin-bottom: 10px" >

      </div>

    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="//music.163.com/outchain/player?type=0&id=2199364384&auto=0&height=430"></iframe>
    <audio src="https://www.xiami.com/play?ids=/song/playlist/id/1775015542/object_name/default/object_id/0#loaded" controls="controls">
    Your browser does not support the audio element.
    </audio>

   <div style="width: 90%;margin-top: 30px;margin:auto">

   <a class="p-2 text-muted" href="#"><h2>每日推荐 <small>atbt</small></h2></a>
     </div>

    <div style="margin: auto;width: 90%" class="row">

        <div class="col-lg-3 " style="display: inline-block;">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../static/timgsds.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Music-name</p>
                    <p class="card-text">Music-role</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">收藏</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">购买</button>
                    </div>
                    <small class="text-muted">2018-9-10</small>
                  </div>
                </div>
              </div>
            </div>

        <div class="col-lg-3" style="display: inline-block;">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="http://p8rknt955.bkt.clouddn.com/timg%20%281%29.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

        <div class="col-lg-3" style="display: inline-block;">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

        <div class="col-lg-3" >
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    </div>

{% endblock %}