{% extends "base.html" %}

{% block body %}

    <div class="rounded" style="width: 100%;background: #202020;">

          <img src="../static/timg%20(2).jpg" class="img-rounded " style="margin-top: 10px;margin-bottom: 10px" >

      </div>

    <p>-</p>
   <div style="width: 90%;margin-top: 30px;margin:auto">

   <a class="p-2 text-muted" href="#"><h2>随机推荐 <small>atbt</small></h2></a>
     </div>

    <div style="margin: auto;width: 90%" class="row">
        {% for a in daysong_dact %}

            <div class="col-lg-3 " style="display: inline-block;margin-top: 50px">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ daysong_dact[a][1] }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ a }}</p>
                    <p class="card-text">{{ daysong_dact[a][0] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">收藏</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">购买</button>
                    </div>
                    <small class="text-muted">2018-9-10</small>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}