{% extends "base.html" %}
{% block ajax %}
    {{ super() }}
    <script type="text/javascript">
      $(function(){
         $.ajax({
            url:"/personal",
            type: "post",
            headers: {

            },

            data: JSON.stringify(),
            contentType: "application/json",
            success: function (resp) {
                    var s = resp.avatar_url
                   $('#img').attr('src',resp.avatar_url)
                   $('#nickname').html(resp.name)
                    $('#email').html(resp.email)
                    $('#over').html(resp.over+' $')

            }

        })

          $('#but').click(function () {
              $('#mr').css('display','none')
              $('#mr2').css('display','block')
             $.ajax({
            url:"/personal_x",
            type: "post",
            headers: {

            },

            data: JSON.stringify(),
            contentType: "application/json",
            success: function (resp) {
                   $('#img2').attr('src',resp.avatar_url)
            }

        })
          })
          $('#file').change(function () {
              $('#img2').attr('src',URL.createObjectURL($(this)[0].files[0]))
          })
      });




    </script>


    {% endblock %}

{% block body %}

    <div id="mr">
    <div style="width: 120px;max-height: 120px;margin: auto;margin-top: 7%">
       <img src="" id="img" class="rounded-circle" style="width: 120px;max-height: 120px">
    </div>

    <h2 align="center" style="margin-top: 30px" id="nickname">Not set </h2>
    <h6 align="center" style="color: #5cb85c;">nickname</h6>
     <h3 align="center" style="margin-top: 50px" id="email">Not set </h3>
    <h6 align="center" style="color: #5cb85c">email</h6>
    <h3 align="center" style="margin-top: 20px" id="over"></h3>
    <h6 align="center" style="color: #5cb85c">over</h6>
    <div style="margin: auto;width: 250px;margin-top: 50px">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 250px;" id="but">修改资料</button>

    </div>
    </div>

    <div style="display: none;" id="mr2">
    <div style="margin: auto;width: 300px;height: 300px;margin-top:7%">
     <img src="" id="img2" class="rounded-circle" style="width: 300px;max-height: 300px;">
        </div>
        <div style="width: 400px;margin: auto;margin-top:3%;">
        <form id="form-avatar"  enctype="multipart/form-data" style="margin: auto;width: auto">
        <input type="file" accept="image/*" name="avatar" class="btn btn-outline-success my-2 my-sm-0" style="width: 400px;" id="file">
            <!--<input type="hidden" id="avatar_xsrf" name="_xsrf" value="">-->
            <p></p>
            <input type="text" id="inputtext" class="btn btn-outline-success my-2 my-sm-0" placeholder="点击修改昵称" style="width: 400px;margin-top: 5%">
            <p></p>
            <button class="btn btn-outline-success my-2 my-sm-0 col-lg-12" type="submit" style="margin-top: 5%">修改</button>
        </form>
            </div>


    </div>

{% endblock %}