{% extends 'base.html' %}
{% block ajax %}
    {{ super() }}
     <script type="text/javascript">
      $(function() {

        $('.btn').click(function () {
            $(this).html($(this).html().replace(/收藏/,""))
            $(this).find('i').addClass("fa fa-heart col-lg-12")

            var id = $(this).val()
           $.post(
                "/collection",      //url地址
                {
                   id:id

                },
                function(data){ //回传函数

                })
        })

     })
    </script>
{% endblock %}
{% block body %}
    <div style="margin: auto;width: 90%" class="row">
    {% for a in music_list %}
        {% for b in a %}


        <div class="col-lg-3 " style="display: inline-block;margin-top: 50px">
              <div class="card mb-4 box-shadow">
                <a href="/musicplays/{{ a[b][2] }}/{{ a[b][3] }}/{{ a[b][0] }}/{{ b }}" target='_blank'><img class="card-img-top" src="{{ a[b][1] }}" alt="Card image cap" ></a>
                <div class="card-body">
                  <p class="card-text">{{ b }}</p>
                    <p class="card-text">{{ a[b][0] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" value="{{  a[b][4] }}" name="but">收藏<i></i></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">购买</button>
                    </div>
                    <small class="text-muted">2018-9-10</small>
                  </div>
                </div>
              </div>
            </div>

        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}